<p-toast position="top-center"></p-toast>

<!-- [@scaleAnimation]="animationState" We need to revisit this -->

<div class="container">
  <div class="card-bg">
    <div class="content">
      <div>
        <svg-icon [icon]="'lock'"></svg-icon>
      </div>

      <h2>Reset Password</h2>
      <p>
        Enter your email address in the form below and we will send you further
        instructions on how to reset your password.
      </p>

      <form novalidate [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" role="form">
        <div class="floating-label group">
          <input #input type="email" class="ts_input-email" formControlName="email" name="email" (keydown)="validateEmailLength($event)"
            tabindex="0" autocomplete="off" required>
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email Address</label>
          <i *ngIf="forgotPasswordForm.get('email').dirty" (click)="onClear()" class="fas fa-times icon-email-error"></i>
          <p-message *ngIf="hasExceed" severity="error" text="Exceeded maximum character limit." class="exceed-error"></p-message>
        </div>
        <button type="submit" [disabled]="!forgotPasswordForm.valid || isSubmitting" tabindex="1" class="btn btn-reset"><i
            *ngIf="isSubmitting" class="fas fa-spinner fa-pulse"></i> REQUEST RESET</button>
        <button type="button" class="btn btn-link link" routerLink="/login">Back to login</button>
      </form>
    </div>
  </div>
</div>
