:host {
  .svg {
    display: inline-block;
    width: 80px;
    height: 80px;
  }
  .f-1 {
    fill: #4064ac !important;
  }
  .g-1 {
    fill: #fbbb00 !important;
  }
  .g-2 {
    fill: #518ef8;
  }
  .g-3 {
    fill: #28b446;
  }
  .g-4 {
    fill: #f14336;
  }
}
