<div class="row" [ngStyle]="{'position': 'absolute', 'width': '100%'}">
  <p-messages [(value)]="msgs" [closable]="false"></p-messages>
</div>

<div class="container">
  <div class="row">
    <div class="panel panel-default card-web lpa_card-mobile">
      <div class="panel-heading">
        <h3 *ngIf="!passwordResetSuccess" class="panel-title lpa_blue-text">Password Reset</h3>
        <div *ngIf="passwordResetSuccess" class="lpa_image-forgot-password-success"></div>
        <h1 *ngIf="passwordResetSuccess" class="panel-title lpa_green-text fw-500">Congratulations!</h1>
        <p class="fw-100 text-center" *ngIf="passwordResetSuccess">Your password has been reset.</p>
      </div>
      <div *ngIf="!passwordResetSuccess" class="panel-body">
        <form novalidate [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" role="form">
          <div class="row">
            <div class="col-12">
              <div class="floating-label group">
                <input #pwd type="password" class="ts_input-password" (blur)="validatePassword()" formControlName="password"
                  tabindex="1" name="password" autocomplete="off" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Password</label>
                <i (click)="showPassword(pwd)" class="fas fa-eye icon-password-view"></i>
              </div>
            </div>
            <div class="col-12">
              <div class="floating-label group">
                <input #rpwd type="password" class="ts_input-password" (blur)="validateRePassword()" valCompare="password" formControlName="repeatPassword"
                  tabindex="2" name="repeatpassword" autocomplete="off" required>
                <span class="highlight"></span>
                <span class="bar"></span>
                <label [ngClass]="{'control-invalid': !passwordResetForm.get('repeatPassword').valid && passwordResetForm.get('repeatPassword').dirty }">Repeat
                  Password</label>
                <i (click)="showPassword(rpwd)" class="fas fa-eye icon-password-view"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <button type="submit" [disabled]="!passwordResetForm.valid || isSubmitting" tabindex="3" class="btn ts_button-rounded btn-reset">
              <i *ngIf="isSubmitting" class="fas fa-spinner fa-pulse"></i> Submit</button>
          </div>
        </form>
      </div>
      <div class="btn-back-container">
        <i class="fas fa-long-arrow-alt-left"></i>
        <a href="javascript:void(0)" tabindex="10" routerLink="/login" class="btn btn-link lpa_black-text btn-back-to-login">
          Back to login</a>
      </div>
    </div>
  </div>
</div>
