@import '../../../../../styleguide/shared';


.panel {
  margin-top: 5%;
}

.card-web {
  padding: 10px 40px 30px;
}

.panel-heading {
  padding: 10px;
}

.panel-title {
  padding-top: 0;
  text-align: center;
  font-weight: 100;
}

.panel-body {
  padding-top: 10px;
  max-width: 300px;
  margin: 0 auto;
}

h3 {
  margin-top: 20px;
}

.btn-back-container {
  text-align: center;
  margin: 20px 20px 0;

  i {
    position: relative;
    top: 2px;
  }
}

.btn-reset {
  @include btn-gradient-blue;

  margin: 15px 30px;
}

:host ::ng-deep p-messages {
  margin: 0 auto !important;
}
